.espaco {
    height: 100px;
}

.div-tb {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tb {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 13px;
    border: 1px solid;
    page-break-before: always;
}

.tb1 {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tb2 {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    padding: 4px;
    width: 100%;
}

td {
    border-bottom: 1px solid;
    padding: 5px;
    width: 100%;
    border: 1px solid;
}

.td-cabecalho {
    width: 100%;
    display: flex;
    border: none;
}

.tb-p1 {
    padding: 10px;
    width: 33%;
    border-bottom: none;
}

.tb-p2 {
    padding: 10px;
    width: 33%;
}

.tb-p3 {
    padding: 10px;
    width: 33%;
}

.tb-p4 {
    padding: 20px;
    width: 33%;
}

.form-img {
    width: 25%;
    height: 115px;
}

.img-area {
    width: 100%;
    height: 100%;
}

.img-area img {
    width: 95%;
    height: 95%;
}

.label-info {
    font-size: 10px;
    display: flex;
    font-weight: 200;
}

.label-info2 {
    font-size: 24px;
    display: flex;
    font-weight: 200;
    text-decoration: underline;
    margin-bottom: 25px;
}

.label-info3 {
    font-size: 20px;
    display: flex;
    font-weight: 200;
    text-decoration: underline;
}

td #recibo {
    width: 15%;
}

td #info {
    width: 30%;
}

.form-img #info-inside {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}

.td-1 {
    display: flex;
    justify-content: center;
    border: none;
}

@media print {
    @page {
        margin: 0.5cm;
    }

    .container,
    .container-area,
    .container-form {
        display: none;
    }

    .div-tb {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .div-tb2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .tb {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 13px;
        border: 1px solid;

    }

    .tb1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .tb2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    table {
        border-collapse: collapse;
        padding: 4px;
        width: 100%;
    }

    td {
        border-bottom: 1px solid;
        padding: 5px;
        width: 100%;
        border: 1px solid;
    }

    .td-cabecalho {
        border-bottom: 1px solid;
        width: 100%;
        display: flex;
    }

    .tb-p1 {
        padding: 10px;
        width: 33%;
        border-bottom: none;
    }

    .tb-p2 {
        padding: 10px;
        width: 33%;
    }

    .tb-p3 {
        padding: 10px;
        width: 33%;
    }

    .tb-p4 {
        padding: 20px;
        width: 33%;
    }

    .form-img {
        width: 25%;
        height: 115px;
    }

    .img-area {
        width: 100%;
        height: 100%;
    }

    .img-area img {
        width: 95%;
        height: 95%;
    }


    .label-info {
        font-size: 10px;
        display: flex;
        font-weight: 200;
    }

    .label-info2 {
        font-size: 18px;
        display: flex;
        font-weight: 200;
        text-decoration: underline;
        margin-bottom: 25px;
    }

    .label-info3 {
        font-size: 18px;
        display: flex;
        font-weight: 200;
        text-decoration: underline;
    }

    td #recibo {
        width: 15%;
    }

    td #info {
        width: 30%;
    }

    .form-img #info-inside {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: column;
    }


    .td-1 {
        display: flex;
        justify-content: center;
        border: none;
    }

}